<html>
<head>
<link rel="shortcut icon" href="http://jquerytools.org/media/css/syntax.css/media/img/favicon.ico">
<link rel="stylesheet" type="text/css" href="http://jquerytools.org/media/css/scrollable-horizontal.css" />
<link rel="stylesheet" type="text/css" href="http://jquerytools.org/media/css/scrollable-buttons.css" />
<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
</head>
<body>
    <div class="box full" >
		<!-- HTML structures -->
		<div style="margin: 0 auto; width: 634px; height: 200px;">
			<!-- "previous page" action -->
			<a class="prev browse left"></a>
	
			<!-- root element for scrollable -->
			<div class="scrollable" id="scrollable" style="height: 200px;">
	
				<!-- root element for the items -->
				<div class="items">
	
					<!-- 1-5 -->
					<div style="text-align: center;">
						<div style="display: block; width: 180px; height: 200px;">
						<img src="http://farm1.static.flickr.com/143/321464099_a7cfcb95cf_t.jpg" />
						<span style="display: inline; ">Caption</span>
						</div>
						<img src="http://farm4.static.flickr.com/3089/2796719087_c3ee89a730_t.jpg" /> 
						<img
							src="http://farm1.static.flickr.com/79/244441862_08ec9b6b49_t.jpg" /> 
						<img src="http://farm1.static.flickr.com/28/66523124_b468cf4978_t.jpg" />
					</div>
	
					<!-- 5-10 -->
					<div>
						<img src="http://farm1.static.flickr.com/163/399223609_db47d35b7c_t.jpg" /> <img
							src="http://farm1.static.flickr.com/135/321464104_c010dbf34c_t.jpg" /> <img src="http://farm1.static.flickr.com/40/117346184_9760f3aabc_t.jpg" />
						
					</div>
	
					<!-- 10-15 -->
					<div>
						<img src="http://farm4.static.flickr.com/3629/3323896446_3b87a8bf75_t.jpg" /> <img
							src="http://farm4.static.flickr.com/3023/3323897466_e61624f6de_t.jpg" /> <img
							src="http://farm4.static.flickr.com/3650/3323058611_d35c894fab_t.jpg" /> 
					</div>
	
				</div>
	
			</div>
	
			<!-- "next page" action -->
			<a class="next browse right"></a>
		</div>
		<!-- javascript coding -->
		<script>
			$(function() {
				// initialize scrollable
				$(".scrollable").scrollable();
			});
		</script>
	</div>
</body>
</html>