<plugin name='simple-cms' version='0.1' grailsVersion='2.2.2 &gt; *'>
  <author>Phil Hartley</author>
  <authorEmail>hart404@gmail.com</authorEmail>
  <title>Simple CMS Plugin</title>
  <description>Provides an easy to use Content Management System for Grails web sites. So simple...
</description>
  <documentation>http://grails.org/plugin/simple-cms</documentation>
  <type>SimpleCmsGrailsPlugin</type>
  <resources>
    <resource>SCMSBootStrap</resource>
    <resource>SCMSUrlMappings</resource>
    <resource>simple.cms.AdSpacePhotoController</resource>
    <resource>simple.cms.ContentController</resource>
    <resource>simple.cms.DocumentController</resource>
    <resource>simple.cms.GalleryController</resource>
    <resource>simple.cms.LightboxController</resource>
    <resource>simple.cms.MenuBarController</resource>
    <resource>simple.cms.MenuController</resource>
    <resource>simple.cms.MenuItemController</resource>
    <resource>simple.cms.PageController</resource>
    <resource>simple.cms.PageTemplateController</resource>
    <resource>simple.cms.PhotoController</resource>
    <resource>simple.cms.WidgetController</resource>
    <resource>simple.cms.SCMSAdSpacePhoto</resource>
    <resource>simple.cms.SCMSDocument</resource>
    <resource>simple.cms.SCMSDocumentWidget</resource>
    <resource>simple.cms.SCMSDocumentWidgetCreator</resource>
    <resource>simple.cms.SCMSGalleryWidget</resource>
    <resource>simple.cms.SCMSGalleryWidgetCreator</resource>
    <resource>simple.cms.SCMSHTMLWidget</resource>
    <resource>simple.cms.SCMSHTMLWidgetCreator</resource>
    <resource>simple.cms.SCMSLightboxWidget</resource>
    <resource>simple.cms.SCMSLightboxWidgetCreator</resource>
    <resource>simple.cms.SCMSMapWidget</resource>
    <resource>simple.cms.SCMSMapWidgetCreator</resource>
    <resource>simple.cms.SCMSMenu</resource>
    <resource>simple.cms.SCMSMenuBar</resource>
    <resource>simple.cms.SCMSMenuItem</resource>
    <resource>simple.cms.SCMSMenuLink</resource>
    <resource>simple.cms.SCMSMenuWidget</resource>
    <resource>simple.cms.SCMSMenuWidgetCreator</resource>
    <resource>simple.cms.SCMSPage</resource>
    <resource>simple.cms.SCMSPageTemplate</resource>
    <resource>simple.cms.SCMSPhoto</resource>
    <resource>simple.cms.SCMSPhotoWidget</resource>
    <resource>simple.cms.SCMSPhotoWidgetCreator</resource>
    <resource>simple.cms.SCMSStaticPage</resource>
    <resource>simple.cms.SCMSWidget</resource>
    <resource>simple.cms.SCMSWidgetCreator</resource>
    <resource>simple.cms.DocumentWidgetService</resource>
    <resource>simple.cms.GalleryService</resource>
    <resource>simple.cms.LightboxService</resource>
    <resource>simple.cms.MenuService</resource>
    <resource>simple.cms.PhotoService</resource>
    <resource>simple.cms.WidgetService</resource>
    <resource>simple.cms.AjaxUploaderTagLib</resource>
    <resource>simple.cms.SimpleCMSTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://snapshots.repository.codehaus.org' url='http://snapshots.repository.codehaus.org/' />
    <repository name='http://repository.codehaus.org' url='http://repository.codehaus.org/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
    <repository name='http://repository.jboss.com/maven2/' url='http://repository.jboss.com/maven2/' />
    <repository name='http://repo.springsource.org/milestone' url='http://repo.springsource.org/milestone/' />
    <repository name='http://mavenrepo.google-api-java-client.googlecode.com/hg' url='http://mavenrepo.google-api-java-client.googlecode.com/hg/' />
    <repository name='ebrRelease' url='http://repository.springsource.com/maven/bundles/release/' />
    <repository name='ebrExternal' url='http://repository.springsource.com/maven/bundles/external/' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/libs-releases' url='http://repo.grails.org/grails/libs-releases/' />
    <repository name='http://m2repo.spockframework.org/ext/' url='http://m2repo.spockframework.org/ext/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.jadira.usertype' name='usertype.jodatime' version='1.9' />
      <dependency group='org.apache.httpcomponents' name='httpclient' version='4.1.2' />
      <dependency group='net.java.dev.jets3t' name='jets3t' version='0.9.0' />
    </compile>
    <runtime>
      <dependency group='mysql' name='mysql-connector-java' version='5.1.19' />
    </runtime>
  </dependencies>
  <plugins>
    <runtime>
      <plugin group='org.grails.plugins' name='navigation' version='1.3.2' />
      <plugin group='org.grails.plugins' name='database-migration' version='1.2.2' />
      <plugin group='org.grails.plugins' name='joda-time' version='1.4' />
      <plugin group='org.grails.plugins' name='taggable' version='1.0.1' />
      <plugin group='org.grails.plugins' name='jquery' version='1.7.2' />
      <plugin group='org.grails.plugins' name='mail' version='1.0.1' />
      <plugin group='org.grails.plugins' name='famfamfam' version='1.0.1' />
      <plugin group='org.grails.plugins' name='spring-security-core' version='1.2.7.3' />
      <plugin group='org.grails.plugins' name='bean-fields' version='1.0.RC5' />
      <plugin group='org.grails.plugins' name='quartz' version='1.0-RC6' />
      <plugin group='org.grails.plugins' name='google-analytics' version='2.0' />
      <plugin group='org.grails.plugins' name='richui' version='0.8' />
      <plugin group='org.grails.plugins' name='spring-security-ui' version='0.2' />
      <plugin group='org.grails.plugins' name='jquery-ui' version='1.8.6.1' />
      <plugin group='org.grails.plugins' name='resources' version='1.2.RC2' />
      <plugin group='org.grails.plugins' name='feeds' version='1.5' />
      <plugin group='org.grails.plugins' name='csv' version='0.3.1' />
      <plugin group='org.grails.plugins' name='yui' version='2.8.2.1' />
      <plugin group='org.grails.plugins' name='cache-headers' version='1.1.5' />
      <plugin group='org.grails.plugins' name='hibernate' version='2.2.2' />
      <plugin group='org.grails.plugins' name='ckeditor' version='3.6.3.0' />
      <plugin group='org.grails.plugins' name='searchable' version='0.6.4' />
      <plugin group='org.grails.plugins' name='breadcrumbs' version='0.5.2' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='release' version='2.2.1' />
      <plugin group='org.grails.plugins' name='tomcat' version='2.2.2' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>